footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

footer img{
    margin: .5rem 1rem;
    max-width: 50px;
    max-height: 30px;
    object-fit: contain;
}