.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    margin: 0;
    padding: 0 1rem;
    padding-bottom: 1rem;
    list-style: none;
}


.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: .5rem ;
}

.portfolio li .title {
    font-weight: 700;
    font-size: 1.2rem;
    margin:0;
}

.portfolio li a {
    color: #2f2f2f;
    margin-bottom: .5rem;
}

.portfolio li a:hover {
    color: #ccc;
}

